body{
    background-image: url('image.jpeg');
    background-size: cover;
    background-position: center;
    
}

.homepage{
    background-image: url('image.jpeg');
    background-size: center;
    background-position: center;

}
#h1{
font-family: 'Anton', sans-serif; 
color: white;
text-align: center;
margin: 0;
font-size: 50px;
padding-top: 20%;
} 

#p{
font-family:'Anton', sans-serif;
color:white;
text-align: center;
margin:0;
font-size: 40px;
font-weight: 10;
}

.text-center{
font-family: 'Anton', sans-serif;
font-size: 20px
}

.buttondiv {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
#ref{
background-color: transparent;
border: 3px solid white;
align-items: center;
color: white;
padding: 1rem 3rem;
text-align: center;
font-size: 24px;
font-weight: bold;
cursor: pointer;
} 

#ref:hover {
    background-color: rgb(5, 71, 55); 
    border: 3px solid rgb(3, 56, 43);
    transition: 1s;
}
