.entrybox {
    border: 3px solid #224748;
    border-radius: 5px;
    margin: 5px;
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 5px;
  border-radius: 5px;
}

#search {
    display: none;
}

hr {
    border: 1px solid #224748;
}

#feed-title {
    text-align: center;
}

:root {
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #224748;
    --bg-secondary: #141418;
}

/* body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
} */
 
main {
    margin-left: 5rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav-item {
    width: 100%;
    padding-bottom:600px;

}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-secondary);
}

a:hover {
    color: var(--bg-secondary);
}

/* small screen */
@media only screen and (max-width: 600px) {

}

/* large screen */
@media only screen and (min-width: 600px) {
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }
}

#home {
   padding-left: 8px; 
}

main {
    background-image: url("assets/wp4410743-chat-wallpapers.png");
    color: whitesmoke;
}

#title {
    
}

.timePosted {
    font-size: 10px;
}

.commentsDiv {
    border: 1px solid red;
}

.commentsMsgDiv {
    border: 1px solid green;
}

.hidden {
    display: none;
}


/* body{
    background-image: url('image.jpeg');
    background-size: cover;
    background-position: center;
    
} */

.homepage{
        background-image: url('image.jpeg');
        background-size: center;
        background-position: center;
        
        
}
#h1{
    font-family: 'Anton', sans-serif; 
    color: white;
    text-align: center;
    margin: 0;
    font-size: 50px;
    padding-top: 20%;
} 

#p{
    font-family:'Anton', sans-serif;
    color:white;
    text-align: center;
    margin:0;
    font-size: 40px;
    font-weight: 10;
    
}

.text-center{
    font-family: 'Anton', sans-serif;
    font-size: 20px
}
#ref{
    background-color: rgb(5, 71, 55); 
    border: 0;
    align-items: center;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px; 
    margin: 10%;
  position: absolute;
  margin-left: 40%
  
 } 