.entrybox {
    border: 1px solid black;
    margin: 5px;
}

.timePosted {
    font-size: 10px;
}

.commentsDiv {
    border: 1px solid red;
}

.commentsMsgDiv {
    border: 1px solid green;
}

.hidden {
    display: none;
}